# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Sphinx documentation
docs/_build/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env 